.home-container li {
  display: inline-block;
  width: 18%;
  list-style: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}
.home-container img {
  height: 60px;
  width: 60px;
}
.search-box {
  margin-left: 90px;
  margin-bottom: 60px;
}
.search-box input {
  height: 70px;
  font-weight: 700;
  border: 1px solid #f75955;
  border-radius: 10px;
  width: 900px;
  background-color: #fff;
}
.cmn-btn {
  background-color: #f75955;
  color: #fff;
  text-transform: none;
  width:150px;
  height: 60px;
  position: absolute;
  font-size: 30px;
  margin-top: 4px;
  margin-left: 2px ;
  border-radius: 10px;
  border: 1px solid #f75955;
}
.row-data {
  margin-left: 30px;
  margin-right: 30px;
}