.home-container li {
  display: inline-block;
  width: 18%;
  list-style: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}
.home-container img {
  height: 60px;
  width: 60px;
}
.search-box {
  margin-left: 90px;
  margin-bottom: 60px;
}
.search-box input {
  height: 70px;
  font-weight: 700;
  border: 1px solid #f75955;
  border-radius: 10px;
  width: 900px;
  background-color: #fff;
}
.cmn-btn {
  background-color: #f75955;
  color: #fff;
  text-transform: none;
  width:150px;
  height: 60px;
  position: absolute;
  font-size: 30px;
  margin-top: 4px;
  margin-left: 2px ;
  border-radius: 10px;
  border: 1px solid #f75955;
}
.row-data {
  margin-left: 30px;
  margin-right: 30px;
}
.first-span {
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  margin-right: 8px;
  background-color: #f75955;
}
.second-span {
  border-radius: 10px;
  padding: 5px 10px;
  color:#f75955;
  border: 1px solid #f75955;
  background-color: #fff;
  margin-right: 5px;
}
.card-text p {
  margin: 10px 0 0 0;
  font-weight: bold;
}
.nav-logo {
  margin: 20px 60px;
}
.tag{
  color: black;
  margin-right: 40px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline !important;
  text-decoration-color: #f75955 !important;  
}
.tag:hover {
  color:#f75955;
  font-weight: bolder;
  text-decoration-color:black !important ;
}

.homebox-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left:80px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.left-container, .right-container{
  flex-basis: 50%;
}
.left-container h3 {
  margin-top: 40px;
  color: #f75955;
  font-weight: 700;
}
.left-container h1 {
  margin-top: 40px;
}
.left-container h5 {
  margin-top: 20px;
}
.left-container button {
  background-color: #f75955;
  color: #fff;
  text-transform: none;
  width:150px;
  height: 60px;
  margin-top: 20px;
  border: 1px solid #f75955;
  border-radius: 10px;
}
.left-container button:hover {
  background-color: #fff;
  color: #f75955;
}
.contact-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact-left-col,.contact-right-col {
  flex-basis: 50%;
}
.contact-right-col img {
  width: 100%;
  margin-top: 30px;
}
form {
  max-width: 350px;
  margin: 40px 0;
}
form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #f75955;
}
.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-box button {
  flex-basis: 48%;
  padding: 18px 0;
}
.btn {
  background-color: #f75955;
  color: #fff;
  text-transform: none;
  border: 1px solid #f75955 ;

}
.page-link {
  color: #f75955;
}
.page-link:hover {
  color:#f75955
}